<div class="each-farm">
  <%= farm.name %>
  <%= link_to farm_path(farm), class:"each-farm-name" do %><br>
    <%= image_tag farm.images.first, class:"farm-image" %><br>
    ＜生産品目＞<br>
    <% farm.tags.each do |tag| %>
      <div class="each-farm-tag"><%= "#{tag.text} " %></div>
    <% end %>
  <% end %>
</div>