.farm-big-title{
  text-align: center;
}

.farm-favorite{
  display: flex;
  justify-content: center;
}

.farm-middle-title{
  border-bottom: 5px solid lightgreen;
  padding: 10px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.farm-small-title{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.item-tag {
  text-align: center;
}

.farm-images{
}

.farm-images-each{
  display: flex;
  flex-wrap: wrap;
}

.farm-first-image{
  width: 100%;
  height: 500px;
  margin: 10px;
}

.farm-other-images{
  width: 400px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.farm-show-button{
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid lightblue;
  background-color: lightblue;
}

.intro-destroy{
  border: 1px solid pink;
  background-color: pink;
}

.tweet-create{
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
}

.tweet-list{
  border: 1px solid rgb(219, 219, 103);
  background-color: rgb(219, 219, 103);
}