<%= render partial: 'shares/bar_menu' %>
<h2 class="each-category"><%= "#{@tag.text}生産農園一覧" %></h2>

<div class="main">
  <div class="side-bar">
  <%= render "shares/category", tags: @tags %>
  </div>

  <div class="main-bar">
    <h3>＜生産農園＞</h3>
    <div class="main-bar-head">
        <% @farms.each do |farm| %>
        <%= render "shares/each_farm", farm: farm %>
        <% end %>
    </div>
  </div>
</div>