<h3><%= "#{@tag.text}生産農園一覧" %>
<% @farms.each do |farm| %>
<div>
<%= link_to farm.name, farm_path(farm) %><br>
<%= image_tag farm.images.first.variant(resize:'150x150') %><br>
生産品目:<br>
<% farm.tags.each do |tag| %>
  <%= "#{tag.text}," %>
<% end %>
</div>
<% end %>