<%= render partial: 'shares/bar_menu' %>
<div class="room-index">
  <% @rooms.each do |room| %>
    <% if user_signed_in? %>
      <%= link_to room.farmer.farm.name, room_path(room), class:"room-index-link" %>
    <% end %>
    <% if farmer_signed_in? %>
      <%= link_to "#{room.user.last_name}様", room_path(room), class:"room-index-link" %>
    <% end %>
  <% end %>
</div>