.box-item{
  width: 500px;
  height: 570px;
  margin: 30px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-select{
  margin-bottom: 13px;
}

.box-select label{
  font-weight: 700;
  font-size: 14px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-select>select{
  width: 150px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 15px;
  cursor: pointer;
}