.bar-left{
  list-style: none;
  display: flex;
}

.bar-before{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lists-left{
  list-style: none;
  display: flex;
}

.lists-right{
  list-style: none;
  display: flex;
}

.bar-link{
  text-decoration: none;
  margin-right: 10px;
  color: black;
  font-size: 13px;
}

.login-out{
  border: 1px solid rgb(84, 201, 84);
  padding: 10px;
  color: rgb(84, 201, 84);
}

.log-farmer{
  border: 1px solid rgb(23, 194, 216);
  padding: 10px;
  color: rgb(23, 194, 216);
}

.my-favorite{
  border: 1px solid green;
  padding: 10px;
  color: green;
  font-weight: bold;
}

